---
# Development Environment Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: gravitee-apis-dev

namespace: gravitee-apis-dev

labels:
  - pairs:
      environment: dev
      app.kubernetes.io/managed-by: argocd

resources:
  - namespace.yaml
  - petstore-api.yaml

configMapGenerator:
  - name: api-config
    literals:
      - ENVIRONMENT=dev
      - LOG_LEVEL=DEBUG
